.images-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #DDDDDD;
    gap: 0.5%;
}

.images {
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 2000px;
    gap: 1%;
}

.image-input, .image-output {
    aspect-ratio: 1/1;
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #BBBBBB;
    border-radius: 2%;
}

    .image-input .drop-zone {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.image-output {
}

.download {
    background-color: #DD1111;
    color: #FFFFFF;
    aspect-ratio: 4/1;
    min-width: 200px;
    max-width: 300px;
    border-radius: 12.5%/50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
