<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["WardOneZero-Laboratory.styles.css"]" />

    <link rel="stylesheet" href="@Assets["main.css"]" />

    <ImportMap />
    <HeadOutlet @rendermode="InteractiveAuto" />
    <title>WardOneZero</title>
</head>

<body>
    <main>
        <Routes @rendermode="InteractiveAuto" />
    </main>
    <script src="_framework/blazor.web.js"></script>
    <footer>
        <a href="https://github.com/wardonezero">Created By Eduard Melik-Hakobyan</a>
    </footer>
</body>

</html>
